* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background: #c4bb71;
}

input[type=radio] {
    display: none;
}

.container {
    scroll-behavior: smooth;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 3% 6%;
    flex-direction: column
}

.accordion {
    width: 30%;
    text-align: center;
    cursor: pointer;
}

.accordion-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 4%;
}

.accordion-item {
    background-color: white;
    color: blue;
    position: static;
    cursor: pointer;
    border-bottom: 0.1em solid #777;
    padding: 1%;
    overflow: hidden;
    border-radius: 1%;
}

.accordion-title {
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
}

.h1 {
    text-align: left;
}

.accordion-title:hover {
    background-color: white;
}

.image {
    display: none;
}

img {
    max-width: 65%;
    max-height: 65% ;
    padding: 5%;
}

.accordion:hover .accordion-item {
    color: black;
}

.accordion-item:hover .image {
    display: block;
    animation: shows 2s;
}

@keyframes shows {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.accordion-plus-icon, .accordion-cross-icon {
    display: none;
}

.accordion:hover .accordion-item:hover .accordion-cross-icon {
    display: block;
}

.accordion:hover .accordion-item:has(.accordion [type=radio]:checked ~ label) .accordion-cross-icon {
    display: block;
}

.accordion:hover .accordion-item:not(:hover):not(:has(.accordion [type=radio]:checked ~ label)) .accordion-plus-icon {
    display: block;
}

.accordion [type=radio]:checked ~ label > .accordion-wrapper {
    color: black;
}

.accordion [type=radio]:checked ~ label > .image {
    display: block;
}

.accordion [type=radio]:checked ~ label ~ .image {
    display: block;
}

@media (max-width: 820px) {
    .accordion-title {
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 0.6em;
    }
}

@media (max-width: 820px) {
    .accordion {
        width: 50%;
    }
}

@media (max-width: 380px) {
    .accordion {
        width: 85%;
    }
}

@media (max-width: 320px) {
    .accordion-title {
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 0.3em;
    }
}
